.Login{
    background-color: #F3F3F3;
    width: 70vh;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
    color: lightblue;
}

a:hover{
    color: blue;
}