name: CI

on:
  push:
    branches: [ feature, develop, master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
          
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.1
      with:
        java-version: 11
        
    - name: Run tests
      run: mvn -B package --file pom.xml